body {
	background-color: black;
	font-family: 'Courier new', monospace;
	margin:0;
	padding:0;
}

nav.global-nav {
	background-color: black;
	border-bottom: 1px solid white;
}

nav.global-nav.sticky {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1000;
}

nav.global-nav ul {
	align-items: stretch;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	height: 42px;
	justify-content: flex-start;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

nav.global-nav ul > li {
	line-height: 42px;
	padding: 0 10px;
}

nav.global-nav ul > li > a {
	color: white;
	display: inline-block;
	font-weight: bold;
	outline: 0;
	text-decoration: none;
	width: auto;
}
nav.global-nav ul > li.active > a {
	color: white;
	border-bottom: 3px solid white;
}

nav.global-nav ul > li > a:hover {
	color: white;
	border-bottom: 3px solid white;
}

nav.global-nav ul > li.logo a { padding-left:0; }
nav.global-nav ul > li.logo a img { height:32px; }
nav.global-nav ul > li.logo a:hover {  }
nav.global-nav ul > li.end { flex-grow:1; text-align: right; }
nav.global-nav ul > li.end > a { padding-right:0; }

ul.sidebar-nav {
	list-style-type:none;
	margin:0;
	padding:0;
}

.content-main-margin {
	padding: 2rem 2rem;
}

#page-outer { }

#page-outer #page-container {
	padding: 76px 14px 15px;
}

#page-outer #page-container div.dashboard {
}

#page-outer #page-container div.dashboard .card {
	background-color: black;
	margin-bottom: 30px;
}

#page-outer #page-container div.dashboard .card .card-header {
	border: 1px solid white;
	margin-bottom: -1px;
	color: #fff;
	font-size: 16px;
}

#page-outer #page-container div.dashboard .card .card-body {
	padding: 0.5rem;
	background-color: #fdf6e3;
}

#page-outer #page-container div.dashboard .card .card-footer {
	border: 1px solid white;
	margin-top: -1px;
	color: white;
}

#page-outer #page-container div.dashboard .card .card-footer a {
	color: #cb4b16;
	font-weight: bold;
}

#page-outer #page-container main {
	background-color: #fdf6e3;
}

#page-outer #page-container main div.video-area iframe {
	margin-top: 0px !important;
	width: 100% !important;
}

.card-votes ol {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.card-votes ol li {
	display: block;
}

.card-votes ol li div.command {
	align-items: center;
	display: flex;
	padding: 5px 0;
}

.card-votes ol li:first-child div.command {
	padding-top: 0;
}

.card-votes ol li:last-child div.command {
	border-bottom: none;
	padding-bottom: 0;
}

.card-votes ol li div.command div.command-meta {
	line-height: 1em;
	min-width: 60px;
	padding: 0 10px 0 0;
	text-align: center;
}

.card-votes ol li div.command div.command-meta button {
	color: #6c71c4;
	cursor: pointer;
	background-color: transparent;
	border: none;
	font-size: 14px;
	font-weight: bold;
	outline: 0;
	padding: 0;
	text-decoration: none;
}

.card-votes ol li div.command div.command-meta button[disabled] { cursor: not-allowed; opacity: 0.5; }

.card-votes ol li div.command div.command-admin {
	line-height: 1em;
	width: 24px;
	padding: 0 0 0 0;
	text-align: right;
}

.card-votes ol li div.command div.command-admin button {
	color: #F74422;
	cursor: pointer;
	background-color: transparent;
	border: none;
	font-size: 14px;
	font-weight: bold;
	outline: 0;
	padding: 0;
	text-decoration:none;
}

.card-votes ol li div.command div.command-text {
	color: #555;
	flex-grow: 1;
	font-size: 13px;
}

#page-outer #page-container div.dashboard .card-hive .card-form { background-color:#555; border-left: 1px solid white; border-right: 1px solid white; padding: 1rem 0 0 0; }
#page-outer #page-container div.dashboard .card-hive .card-form textarea { border-radius: .25rem; margin-bottom: 0; padding: 0.5rem; resize:none; width:100%; }
#page-outer #page-container div.dashboard .card-hive .card-form button.btn { border-radius: .25rem; color: #fff; }
#page-outer #page-container div.dashboard .card-hive .card-body { }
#page-outer #page-container div.dashboard .card-hive .card-body .card-text { color:#000; font-size: 1.5rem; padding:2rem 0; text-align:center; transition: all 0.5s ease; }
#page-outer #page-container div.dashboard .card-hive .card-body .card-text.placeholder { color:#777; font-size: 1.0rem; }
#page-outer #page-container div.dashboard .card-hive .card-footer { border: 1px solid white; margin-top: -1px;}

#page-outer #page-container div.dashboard .card-send-command .card-body { background-color: black; padding: 1rem; }
#page-outer #page-container div.dashboard .card-send-command { border: 1px solid white; }
#page-outer #page-container div.dashboard .card-send-command textarea { background-color: #fdf6e3; border: 1px solid white; border-radius: .25rem; margin-bottom: 1rem; padding: 0.5rem; resize:none; width:100%; }
#page-outer #page-container div.dashboard .card-send-command button.btn { outline: 0px; background-color: black; border: 1px solid white; border-radius: .25rem; color: white; }
#page-outer #page-container div.dashboard .card-send-command button.btn:hover { background-color: #fdf6e3; color: black; }

#page-outer #page-container div.dashboard .card#command_queue .card-header { background-color: black; }
#page-outer #page-container div.dashboard .card#command_queue {  }
#page-outer #page-container div.dashboard .card#command_queue .card-footer { background-color: black; padding:.5rem 1.25rem; }

#command_queue div.command { padding-left:10px; }
#command_queue div.command .btn-sm { font-size: 0.6rem; padding: .2rem .4rem; }

form textarea[name="html"] { font-family:monospace; font-size: 13px; }

#tos {
	background-color: rgba(0,0,0,0.80);
	color: #eee;
	font-size: 18px; 
	position: fixed;
	bottom: 0px;
	padding: 40px 40px;
	min-height: 50vh;
	width: 100%;
}

#tos p a.link { color:#fff; text-decoration:underline; }

#page-outer #page-container div.dashboard .card-hive .card-body .card-text.text-sm { font-size: 1.25rem; }
#page-outer #page-container div.dashboard .card-hive .card-body .card-text.text-xs { font-size: 1.00rem; }
#page-outer #page-container div.dashboard .card-hive .card-body .card-text.text-xxs { font-size: 0.80rem; }
