{% extends "base-cacheable.html" %}
{% load staticfiles %}


{% block head %}
{% endblock %}


{% block main %}

<main class="content-main" role="main">
<div class="content-main-margin">

<h1>Credits</h1>

<p><b>Director:</b> Niccolo Pescetelli </p>
<p><b>Concept:</b> Niccolo Pescetelli & Manuel Cebrian</p>
<p><b>Storyboard:</b> Niccolo Pescetelli & Eugenia Bartoccini
<p><b>App development:</b> Arthur Pemberton (Toptal) & Samantha Miller
<p><b>Website development:</b> Samantha Miller
<p><b>Socials:</b> Niccolo Pescetelli, Bharath Sharma, Monica Scrobotovici
<p><b>Game masters:</b> Georgina Denis & Anjali Moorthy
<p><b>Legal advisors:</b> Mason Kortz, Sally Kagay & Alexander Erwig
<p><b>Participatory design director:</b> Georgina Denis
<p><b>Funded by:</b> MIT Media Lab - Scalable Cooperation 
<p><b>Overview and supervision:</b> Iyad Rahwan & Manuel Cebrian
<p><b>The Hive:</b> Manuel Cebrian, Iyad Rahwan, Georgina Denis, Anjali Moorthy, Taylor Jolly, Niccolo Pescetelli, Jose Garza

</div>
</main>

{% endblock %}


{% block javascript %}
<script>
$(function(){

	

});
</script>
{% endblock %}
