{% extends "base.html" %}
{% load staticfiles %}


{% block head %}
<style>
blockquote.message {
	border-left: 3px #eee solid;
	padding-left: 1em;
	padding-bottom: 0.25em;
	padding-top: 0.25em;
}

.blockquote-footer { font-size: 0.85rem; }
</style>
{% endblock %}


{% block main %}

<main class="content-main" role="main">
<div class="content-main-margin">

<h1 style="margin-bottom:1em;">Message History</h1>

{% for message in messages %}
<blockquote class="blockquote message" data-id="{{ message.id }}">
	<p class="mb-0">{{ message.text }}</p>
	<footer class="blockquote-footer">
		{{ message.created_at|date }}
	</footer>
</blockquote>
{% endfor %}

</div>
</main>

{% endblock %}


{% block javascript %}
<script>
$(function(){

	

});
</script>
{% endblock %}
