{% extends "base-cacheable.html" %}
{% load staticfiles %}


{% block head %}
{% endblock %}


{% block main %}

<main class="content-main" role="main">
<div class="content-main-margin">

<h1>Very Simple Rules</h1>
<h2>Ground rules</h2>
<ol type="1">
  <li><b>SAFETY</b>: Nobody&#39;s safety can be put in danger. This rule applies to everyone, including the Agent, camera crew members, bystanders, people not involved in the game, etc. </li>
  <li><b>RESPECT</b>: You must respect everyone. This includes people, and their property including and not limited to buildings and animals, etc.</li>
  <li><b>PRIVACY</b>: Accessing anyone&#39;s private information in any way is forbidden and will not be tolerated.</li>
  <li><b>LAWFULNESS</b>: Respect the law when playing the game. Any criminal activity is forbidden and will not be tolerated.</li>
</ol>

<h2>Game rules</h2>
<ol type="1">
  <li> <b>Suggest</b>: Suggest commands that you think will help the Agent achieve its goals. </li>
  <li> <b>Vote</b>: Up/Down vote others&#39; commands. </li>
  <li> <b>Move On</b>: Move on in the story and complete the mission. Time is against you.</li>
</ol>


<h2>Tips</h2>
<ul>
  <li> <b>Cooperation relies on trust.</b> Trust is difficult to build and easy to lose. You can trust the Agent will execute your commands, only if the Agent trusts you. You must earn the Agent&#39;s trust by following the ground rules and game rules to ensure commands will be carried out.</li>
  <li><b>Be creative.</b></li>
  <li><b>Be clear and simple.</b> Don&#39;t assume the agents understand what you are referring to.</li>
  <li><b>Think ahead.</b> A time lag might be present between the agent&#39;s actions and the video feed. </li>
  <li><b>Be nice and demand others to be nice.</b> Bad behavior will NOT be tolerated. </li>
</ol>

</div>
</main>

{% endblock %}


{% block javascript %}
<script>
$(function(){

	

});
</script>
{% endblock %}
