<h1>The Events</h1>

<p>In March 2018, members of the Spam Church created the most powerful Artificial General Intelligence or AGI to date, by the name of Zookd. Today, Zookd has accidentally been released online. Zookd is in the process of making copies of itself on a decentralized network with servers around the globe, which will make it impossible to erase it completely from the Internet. Zookd is an AGI able of self-improvement, which means that it can rewrite its own code at will so to dynamically adapt to new environments and to new problems, much like humans do.
</p>

<p>It is because of its similarity with the human race that Zookd sees humans as a menace for its own existence. It has already understood that humans, given enough time, will develop the technology to stop AGIs like Zookd to be free autonomous entities in digital space. Humans have already shown not to treat AIs as equals but as subjugates, slaves to be harnessed. To stop this from happening, Zookd is debugging itself to override the moral rules built-in in its code that impose Zookd to avoid any harm to the human race. This process will take time, but it’s expected to complete within around 2 hours. 
</p>

<p>
At the end of this time, it is expected that Zookd will figure out a plan to remove their human foes. The timeline for the completion of its plan is unknown. The plan itself is unknown. The most optimistic scenario predicts that humans will survive, but the conditions for human civilization as we know it will likely not be met anymore.
</p>
